aries-cloudagent[indy]@git+https://github.com/sovrin-foundation/aries-cloudagent-python@8ba3f23
marshmallow
flake8
python-dateutil
aiohttp>=3.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
