aries-cloudagent[indy]@git+https://github.com/sovrin-foundation/aries-cloudagent-python@8ba3f23
marshmallow
flake8
python-dateutil
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
